[submodule "logdevice/external/rocksdb"]
	path = logdevice/external/rocksdb
	url = https://github.com/facebook/rocksdb/
	branch = 5.16.fb
[submodule "logdevice/external/folly"]
	path = logdevice/external/folly
	url = https://github.com/facebook/folly/
