_build/
*~
.DS_Store
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/package-lock.json
website/i18n/*
!website/i18n/en.json
website/yarn-error.log
logdevice_*.deb
logdevice_*.build
logdevice_*.buildinfo
logdevice_*.changes
logdevice-dbgsym_*.ddeb
